$min-width: 1200px;

$font-size-desktop: 1em;
$font-size-mobile: 2em;

$button-font-size-desktop: 1.5em;
$button-font-size-mobile: 2.5em;

$padding-desktop: 0.75em;
$padding-mobile: 2em;

$gap-desktop: 0.75em;
$gap-mobile: 2em;

$checkbox-size-desktop: 1em;
$checkbox-size-mobile: 2.5em;

$container-color-hover: #F0F0F0;

$button-text-color: #686868;

@mixin task-font($font-size) {
  font-family: 'JetBrains Mono', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size;
}

@mixin button-font($font-size) {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size;
  color: $button-text-color;
}

.todoContainer {
  display: flex;
  align-items: center;
  padding: $padding-mobile;
  gap: $gap-mobile;

  @media screen and (min-width: $min-width) {
    gap: $gap-desktop;
    padding: $padding-desktop;

    &:hover {
      background-color: $container-color-hover;
    }

    &:hover .deleteButton {
      visibility: visible;
    }
  }
}

.checkbox {
  height: $checkbox-size-mobile;
  width: $checkbox-size-mobile;

  @media screen and (min-width: $min-width) {
    height: $checkbox-size-desktop;
    width: $checkbox-size-desktop;
  }
}

.taskText {
  @include task-font($font-size-mobile);

  @media screen and (min-width: $min-width) {
    @include task-font($font-size-desktop);
  }
}

.deleteButton {
  margin-left: auto;
  background: none;
  border: none;
  transform: rotate(45deg);
  cursor: pointer;

  @include button-font($button-font-size-mobile);

  @media screen and (min-width: $min-width) {
    visibility: hidden;

    @include button-font($button-font-size-desktop);
  }
}