$min-width: 1200px;

$font-size-desktop: 0.875em;
$font-size-mobile: 1.5em;

$margin-desktop: 1.5em;
$margin-mobile: 3em;

$padding-desktop: 1.5em;
$padding-mobile: 3em;

$gap-desktop: 1em;
$gap-mobile: 2em;

$input-height-desktop: 2em;
$input-height-mobile: 2em;
$input-padding-desktop: 12px;
$input-padding-mobile: 0.5em;

$placeholder-color: #B7B7B7;

$button-color: black;
$button-color-hover: #4B4B4B;

$button-text-color: white;

@mixin input-font($font-size, $color) {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: $font-size;
  color: $color;
  line-height: $font-size;
}

.formContainer {
  display: flex;
  gap: $gap-mobile;
  padding: $padding-mobile;

  @media screen and (min-width: $min-width) {
    gap: $gap-desktop;
    padding: $padding-desktop;
  }
}

.input {
  flex: auto;
  padding: $input-padding-mobile;
  border: 2px solid black;

  @include input-font($font-size-mobile, black);

  @media screen and (min-width: $min-width) {
    padding-left: $input-padding-desktop;
    height: 2rem;

    @include input-font($font-size-desktop, black);
  }

  &:focus {
    outline: none;
  }
}

.addButton {
  width: 2em;

  background-color: $button-color;
  color: $button-text-color;
  font-size: 2em;

  border: none;
  cursor: pointer;

  @media screen and (min-width: $min-width) {
    width: 2em;
    font-size: 1em;
  }

  &:hover {
    background-color: $button-color-hover;
  }
}