$button-color: black;
$button-color-hover: #F0F0F0;
$button-color-active: #C8C8C8;

$button-text-color: #666666;
$button-text-color-active: white;

@mixin button-font() {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

@mixin button-font-color($color) {
  color: $color;
}

.filtersContainer {
  display: flex;
  gap: 12px;
  padding: 0 24px;
}

.filterButton {
  flex: auto;
  padding: 5px;

  @include button-font();
  @include button-font-color($button-text-color);

  text-decoration: underline;
  background: none;
  border: none;

  cursor: pointer;

  &:hover {
    background-color: $button-color-hover;
    @include button-font-color($button-text-color);
    text-decoration:  none;
  }
}

.activeButton {
  background-color: $button-color;
  @include button-font-color($button-text-color-active);
  text-decoration:  none;
}